/*стилі відображення імен користувачів залежно від ролі*/
.role-blocked
  background #a9a9a9

.role-user
  background darkseagreen

.role-deliverer
  background #ffff00

.role-merchandiser
  background orange

.role-owner
  background orangered

/*вигляд вікна деталей користувача*/
.user-details
  position fixed
  width 50%
  height 70%
  top 10%
  left 50%
  transform translateX(-50%)
  padding 10px
  z-index 3
  .panel
    background linear-gradient(#d4eed0, #ffffff)
    padding 5px
    height 100%
    .panel-heading
      height 17%
    .panel-body
      height 83%
      .form-horizontal
        height 100%
        .userInfo
          height 80%
          overflow-x hidden
          overflow-y auto
        .panel-controls
          margin-top 2px
          height 20%

/*вигляд модальних вікон*/
.modal-danger
  .modal-header
    font-size 2vw
  .typed-button, .modal-header
    background #ff4500
    color #ffffff

.modal-input
  .modal-header
    font-size 2vw
  .typed-button, .modal-header
    background #00a3ff
    color #ffffff


/*кнопки додавання, видалення характеристики, тегу  */
.addSpecButton
  width  100%
  display flex
  justify-content center
  align-items center
  color #a9a9a9

.addSpecButton:hover
  color #555555
  font-size 120%

.removeSpecButton:hover, .addTagButton:hover, .removeTagButton:hover
  transform scale(1.2,1.2)

.tagEdit:empty
  display: block

/*встановлюємо мінімальний розмір заголовку для запобігання його зникненню у випадку опустіння*/
.itemTitleText
  min-width 50px
  min-height 50px

/*вигляд дроп-зони перетягування зображень*/
.dropZone
  overflow-y auto
  overflow-x hidden
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  position: relative
  .dropText
    position absolute
    top 50%
    left 50%
    transform translateX(-50%)



.dropZone.drop
  color: #222;
  border-color: #222;


/*контейнер попереднього перегляду ілюстрації*/
.imgPreviewContainer::after
  content '྾'
  text-align center
  display flex
  justify-content center
  align-items center
  color rgba(255,25,0,0)
  font-size 150%

  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0,0,0,0)
  

.imgPreviewContainer:hover:after
  background rgba(0,0,0,0.5)
  color rgba(255,25,0,1)

.imgPreviewContainer:hover
  transform scale(1.1,1.1)

/*вигляд сітки*/
.gridContainer
  margin-right: auto;
  margin-left: auto;

.gridContainer:after
  display: table
  content: " "

.gridRow:before, .gridRow:after
  display: table
  content: " "

.gridRow:after
  clear both

.gridCol
  position: relative;
  float: left;

/*контрольних елементів сторінки*/
.itemEditControls
  position: absolute
  top 2px
  right 2px
  .btn
    margin 2px

/*вигляд splash скріну процесу створення нового товару*/
.uploadingSplash
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0,0,0,0.5)
  .uploadSplashIcon
    transform translateX(-50%)
    position absolute
  .cloudIcon0
    font-size 800%
    color rgba(255,255,255,0.7)
    top 25%
    left 52%
    .cloudIcon1
      font-size 62%
      color rgba(255,255,255,0.8)
      top 30%
      left 45%
      text-shadow: 15px -3px 13px rgba(150, 150, 160, 1);
    .cloudIcon2
      font-size 50%
      color rgba(255,255,255,0.9)
      top 30%
      left 10%
      text-shadow: 8px -2px 13px rgba(150, 150, 160, 1);
  .clientIcon
    font-size 400%
    color rgba(255,255,255,1)
    top 75%
    left 50%
  .uploadAnimationIcon
    font-size 300%
    color rgba(255,255,255,1)
    top 50%
    left 50%
    -webkit-animation uploadAnim 1.5s infinite linear;

/*його анімація*/
@keyframes uploadAnim
  0%
    top 70%
    opacity 1
  50%
    top 53%
    opacity 0.9
  100%
    top 35%
    opacity 0.1

/*вигляд кнопок замовлень*/
.confirmPurchaseButton
  margin-top 10px
  margin-bottom 10px
  margin-left 5px


 /*вишляд елементу вибору статусу*/
.smallSelect
  width 150px

 /*кольори статусів*/
.queuingStatus
  background lightgoldenrodyellow

.shippingStatus
  background lightskyblue

.deliveredStatus
  background #90ee90

.rejectedStatus
  background lightcoral

.orderInfo
  margin 10px