/*вигляд сторінки 404*/
/*контейнер "екрану"*/
.fofHolder {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  height: 80%;
  overflow: hidden;
  border: none;
  border-radius: 50%/10%;
  position: relative;
  background: #fff;
/*під час анімації дочірніх елементів контейнеру, що включає зміну прозорості, або трансляції,*/
/*вони виносяться на передній план, закриваючи собою контейнер*/
/*для запобігання цьому необхіден наступний код*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
/*підкладка  */
.TVBack {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*зображення екрану*/
}
.TVPicture {
  -webkit-animation: turnOn 4s, flickering 0.15s infinite;
  background: #fff;
  position: relative;
}
/*текстове повідомлення*/
.fofMessage {
  font-family: "Lucida Console", "Monaco", monospace;
  color: #000;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  font-weight: bold;
  letter-spacing: -2px;
  transform: scale(0.7, 1);
}
.fofMessage .lineOne {
  font-size: 4vw;
}
.fofMessage .lineTwo {
  font-size: 2vw;
}
.fofMessage .lineThree {
  font-size: 1.5vw;
}
/*"скло" телевізору*/
.TVScreen {
  background-image: radial-gradient(at 30% 20%, rgba(255,255,255,0.95) 9%, rgba(114,140,107,0.8) 50%, rgba(73,102,68,0.9) 67%, #0a381f 100%);
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*імітація структури металу*/
.metalBox {
  background: #d3d3d3;
  background-image: -webkit-repeating-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1.2%, rgba(255,255,255,0.15) 2.2%), linear-gradient(180deg, #bcd2bc 0%, #e0ebe0 47%, #bcd2bc 53%, #a3c2a3 100%);
  background-size: 25% 100%;
  max-width: 80%;
}
.metalBorder {
  background-color: #e6e6e6;
  box-shadow: inset #262626 0 0px 0px 4px, inset rgba(38,38,38,0.8) 0 -1px 5px 4px, inset rgba(0,0,0,0.25) 0 -1px 0px 7px, inset rgba(255,255,255,0.7) 0 2px 1px 7px, rgba(0,0,0,0.15) 0 -5px 6px 4px, rgba(255,255,255,0.5) 0 5px 6px 4px;
  transition: color 0.2s;
}
/*анімація мерехтіння */
/*анаміція увімкнення екрану*/
/*вимкнення*/
/*кнопка on/off  */
.TVButton {
  border: none;
  font: bold 1vw "Lucida Console", "Monaco", monospace;
  text-align: center;
  color: #333;
  text-shadow: rgba(102,102,102,0.5) 0 -1px 0, rgba(255,255,255,0.6) 0 2px 1px;
  width: 4vw;
  height: 4vw;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-top: -10%;
  line-height: 4vw;
  border-radius: 50%;
  position: relative;
  background-image: -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1.2%, rgba(255,255,255,0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999 100%);
}
.TVButton:before,
.TVButton:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-image: -webkit-radial-gradient(50% 0%, 10% 50%, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%), -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%), -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%), -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.TVButton:before {
  transform: rotate(65deg);
}
.TVButton:after {
  transform: rotate(-65deg);
}
/*вигляд натиснутої кнопки*/
.TVButton:active {
  color: #c20;
  text-shadow: rgba(102,17,0,0.3) 0 -1px 0, #ffbfb3 0 2px 1px, #f99 0 0 5px, rgba(255,43,0,0.6) 0 0 20px;
  box-shadow: inset #991a00 0 0px 0px 4px, inset rgba(77,13,0,0.4) 0 -1px 5px 4px, inset rgba(102,17,0,0.25) 0 -1px 0px 7px, inset rgba(255,255,255,0.7) 0 2px 1px 7px, rgba(255,149,128,0.8) 0 0px 3px 2px, rgba(153,68,51,0.25) 0 -5px 6px 4px, #fcebe8 0 5px 6px 4px;
}
@-moz-keyframes flickering {
  0% {
    background-color: #556b2f;
  }
  25% {
    background-color: #a9a9a9;
  }
  50% {
    background-color: #add8e6;
  }
  100% {
    background-color: #fff;
  }
}
@-webkit-keyframes flickering {
  0% {
    background-color: #556b2f;
  }
  25% {
    background-color: #a9a9a9;
  }
  50% {
    background-color: #add8e6;
  }
  100% {
    background-color: #fff;
  }
}
@-o-keyframes flickering {
  0% {
    background-color: #556b2f;
  }
  25% {
    background-color: #a9a9a9;
  }
  50% {
    background-color: #add8e6;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes flickering {
  0% {
    background-color: #556b2f;
  }
  25% {
    background-color: #a9a9a9;
  }
  50% {
    background-color: #add8e6;
  }
  100% {
    background-color: #fff;
  }
}
@-moz-keyframes turnOn {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 70%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -70%, 0);
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 70%, 0);
  }
  50% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes turnOn {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 70%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -70%, 0);
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 70%, 0);
  }
  50% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
  }
}
@-o-keyframes turnOn {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 70%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -70%, 0);
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 70%, 0);
  }
  50% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
  }
}
@keyframes turnOn {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 70%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -70%, 0);
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 70%, 0);
  }
  50% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
  }
}
@-moz-keyframes turnOff {
  0% {
    transform: scale(1, 1.3);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001);
  }
}
@-webkit-keyframes turnOff {
  0% {
    transform: scale(1, 1.3);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001);
  }
}
@-o-keyframes turnOff {
  0% {
    transform: scale(1, 1.3);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001);
  }
}
@keyframes turnOff {
  0% {
    transform: scale(1, 1.3);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001);
  }
}
