.role-blocked {
  background: #a9a9a9;
}
.role-user {
  background: #8fbc8f;
}
.role-deliverer {
  background: #ff0;
}
.role-merchandiser {
  background: #ffa500;
}
.role-owner {
  background: #ff4500;
}
.user-details {
  position: fixed;
  width: 50%;
  height: 70%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  z-index: 3;
}
.user-details .panel {
  background: linear-gradient(#d4eed0, #fff);
  padding: 5px;
  height: 100%;
}
.user-details .panel .panel-heading {
  height: 17%;
}
.user-details .panel .panel-body {
  height: 83%;
}
.user-details .panel .panel-body .form-horizontal {
  height: 100%;
}
.user-details .panel .panel-body .form-horizontal .userInfo {
  height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}
.user-details .panel .panel-body .form-horizontal .panel-controls {
  margin-top: 2px;
  height: 20%;
}
.modal-danger .modal-header {
  font-size: 2vw;
}
.modal-danger .typed-button,
.modal-danger .modal-header {
  background: #ff4500;
  color: #fff;
}
.modal-input .modal-header {
  font-size: 2vw;
}
.modal-input .typed-button,
.modal-input .modal-header {
  background: #00a3ff;
  color: #fff;
}
