//main.jade
carousel
//показуємо привітання лише один раз
.greetSplash(ng-show="isFirstRun")
    h1.text-center Retro tech store
    h2 Welcome to the Retesto!
    h4 Here you'll be able to buy some technical masterpiece from the years of past, to bring it from abyss of oblivion and give it an entirely new life!
