//order-info.jade
.container.contentHolder
    h1.itemTitleText Order info:
    form.form-horizontal
        //деталі замовлення
        .orderInfo
            label.control-label.col-xs-6
                .pull-left  Date:
            .col-xs-6.form-control-static  {{order.date | date}}

            label.control-label.col-xs-6
                .pull-left Customer:
            a.col-xs-6.form-control-static(href="/users/{{order.customer._id}}/orders")  {{order.customer.firstName}} {{order.customer.lastName}}

            label.control-label.col-xs-6
                .pull-left Address:
            .col-xs-6.form-control-static  {{order.shippingAddress}}

            //статус замовлення
            div(ng-show="!printing")
                    label.control-label.col-xs-6
                        .pull-left Status:
                    .col-xs-6
                        .form-control-static(ng-if="!editMode" class="{{order.status}}Status")  {{order.status}}
                        //якщо сторінку деталей замовлення переглядає доставник
                        //додамо йому можливість змінювати статус замовлення
                        select.form-control.smallSelect(ng-if="editMode", ng-model="order.status" class="{{order.status}}Status")
                            option(ng-repeat="status in states" class="{{status}}Status") {{status}}


    //список товарів
    table.table.table-hover.table-striped.table-condensed.table-bordered
        tbody
            tr(ng-repeat="item in order.items track by $index")
                td
                    .imageContainer
                        img.img-responsive(rnd-img-src="/res/img/{{item.item._id}}/0.jpg")
                td
                    a(href="/items/{{item.item._id}}") {{item.item.name}}
                td {{item.item.description}}
                td {{item.price | currency}}
                td x{{item.quantity}}
            tr
                td(colspan=3) Shipping cost:
                td {{order.shippingPrice | currency}}
            tr.noHover
                td(colspan=3) Total:
                td.h4.priceText {{order.totalPrice | currency}}

    //кнопки оновлення і друку замовлення
    .pull-right(ng-show="!printing")
        .btn.btn-primary.confirmPurchaseButton.glyphicon.glyphicon-print(ng-if="editMode" ng-click="print()") Print
        .btn.btn-primary.confirmPurchaseButton(ng-if="editMode" ng-click="update()") Update